{
    auto_https disable_redirects
    admin off
}
https://localhost:3000 {
    tls internal
    reverse_proxy frontend:3000
}
https://localhost:8000 {
    tls internal
    reverse_proxy backend:8000
}
